 <div class = "row">
 <div class = "col-xs-12">
   <h1>Welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers !</h1>
          <p>CopyRight Infratop.inc</p>
 </div>
 </div>