
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <nav class = "nav navbar-nav navber-center"></nav>
　　　　　　　<h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers !!</h1>
　　　　　　　<P>In <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers,<br>
	you can share and exchange your opinions , inpressions , and emotions<br>
	about various books!<br>
			<div class = "btn-wrapper" >
			<%= link_to "Log in", new_user_session_path, class:"btn btn-primary col-xs-10" %>
			
			<%= link_to "Sign up", new_user_registration_path, class:"btn btn-success col-xs-10" %>
			

		</div>
	  </div>
    </div>
       <p>CopyRight Infratop.inc</p>