<div class="col-lg-4" style="background-color: orange;"> 
              <h2>サイドバー</h2>
          </div>
          <div class="col-lg-8">  <!-- ここを追加 -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Body</th>
                    
                   ...
                    
                    </tr>
                  <% end %>
                </tbody>
              </table>
          </div>                  <!-- ここを追加 -->
  
